@{
    ViewData["Title"] = "Página Principal";
}

<div>

<div class="text-center container-card">
    <h1 class="display-4">Bem Vindo! Home</h1>
    <h1 class="display-4">Bem Vindo! Home</h1>
</div>
</div>
